# Common
NODE_ENV=development

# Database
DATABASE_URL=postgresql://harmonify:password@postgres:5432/harmonify

POSTGRES_USER=harmonify
POSTGRES_PASSWORD=password
POSTGRES_DB=harmonify



# Auth
JWT_SECRET=replace-with-strong-secret
JWT_EXPIRATION=1d

#backend
PORT=8080

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
FRONTEND_PORT=3000