# Common
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/harmonify

# Auth
JWT_SECRET=replace-with-strong-secret
JWT_EXPIRATION=1d

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080